* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #d8dbd3;
    padding: 2% 0;
    overflow: hidden;
  }
  
  /* BACKGROUND */
  #green-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #089a8b;
    min-height: 100px;
    z-index: 500;
  }
  
  
  /* APP */
  #app-container {
    width: 80%;
    height: 90vh;
    margin: 0 auto;
    background-color: lightblue;
    z-index: 900;
    position: relative;
  } 


#app-container::after {
  display: table;
  clear: both;
  content: "";
}

#app-left, #app-right {
  float: left;
  height: 100%;
}

#app-left {
  width: 30%;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

#app-right {
  width: 70%;
  background-color: lightgreen;
} 

/* APP LEFT */

/*USER PROFILE BAR*/

#app-left > .user-profile
#app-right  > .user-profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px;
    background-color: #eaeaea;
    height: 80px;
  }

  .user-profile .left,
  .user-profile .right {
    display: flex;
    align-items: center;
  }

  .user-profile .left {
    flex-basis: 60%;
  }

  .user-profile .right {
    flex-basis: 40%;
  }

  .user-profile  .left > .profile-pic  {
    flex-basis: 30%;
  }

  .user-profile .left .profile-pic > img {
    max-width: 100%;
    border-radius: 50%;
  }

  .left > .username {
    flex-basis: 70%;
    margin-left: 10px;
  }

  .user-profile > .right {
    justify-content: flex-end;
  }
  
/* APP RIGHT */

#app-right .left > .profile-pic {
    flex-basis: 30%;
  } 


  .user-profile > .right > .fas {
    margin: 0 10 px;
    color:  #b1b1b1;
    font-size: 20px;
  }

  .user-profile > .left span {
    color: grey;
  }

  /* NOTIFICATIONS */
.notifications {
    background-color: #76dcff;
    display: flex;
    align-items: center;
    padding: 25px 10px;
  }

  .notifications .icon {
    background-color: #f0fbff;
    border-radius: 50%;
    padding: 10px;
  }

  .notifications .icon i {
    font-size: 25px;
    color: #76dcff;
  }
  
  .notifications .info {
    margin-left: 10px;
  }
  
  /* SEARCH BOX */
  .search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #fafafa;
    position: relative;
  }

  .search-box > input {
    padding: 10px;
    width: 100%;
    border: none;
    color: grey;
    padding-left: 60px;
  }

  .search-box  > i {
    position: absolute;
    left: 30px;
    color: #b1b1b1;
  }
  
  /* RECENT CHAT */
  .recent-chat {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    height: 390px;
    overflow-y: auto;
  } 

  .recent-chat > .chat {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }


  .recent-chat > .chat > .left {
    flex-basis: 40%;
    display: flex;
  }

  .recent-chat > .chat > .left img {
    max-width: 90%;
    border-radius: 50%;
  }

  .recent-chat > .chat > .left .info {
    padding-left: 20px;
  }

  .recent-chat > .chat > .right {
    flex-basis: 60%;
    display: flex;
    justify-content: flex-end;
  }
